$form-duration: 500ms;
@keyframes create__form {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
}

$header-duration: 700ms;
@keyframes create__header {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }
}

.create {
  max-width: 750px;
  margin: auto;
  padding: 1rem;

  h1 {
    font-weight: normal;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    animation: create__header $header-duration ease-out;
  }

  label {
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  input {
    padding-left: 0.5rem;
    height: 1.5rem;

    &::placeholder {
      opacity: 0.5;
    }
  }

  textarea {
    width: 100%;
    max-width: 30rem;
  }

  form {
    padding-left: 1rem;
    animation: create__form $form-duration ease-out $header-duration backwards;

    > div {
      margin-bottom: 1rem;
    }
  }

  .body {
    margin: 0;
  }

  .submit {
    display: flex;
    justify-content: flex-end;

    button {
      padding: 0.5rem 1rem;
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;

    input {
      border: none;
      display: block;
      width: 7rem;
      position: relative;
      border-radius: 5px;

      &:focus {
        outline: black dotted 1px;
      }
    }
  }
}
