.tag-preview {
  cursor: pointer;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  background: #c9c9c9;

  span {
    color: #262626;
  }

  .text {
    padding: 0.5rem 1rem;
  }

  .xmark {
    padding: 0.5rem;
    border-left: 1px dotted #066163;
  }
}
