.tag-preview {
  cursor: pointer;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 1px 3px #0000007a;
  transition: transform 500ms ease-out;

  &:hover {
    transform: translateY(-5px);
  }

  span {
    color: #262626;
  }

  .text {
    padding: 0.5rem 1rem;
  }

  .xmark {
    padding: 0.5rem;
    border-left: 1px dotted #066163;
  }
}
