@font-face {
  font-family: UbuntuMono;
  src: url("../../assets/fonts/UbuntuMono/UbuntuMono-Regular.ttf");
}

@keyframes cursor-fade {
  100% {
    opacity: 0;
  }
}

.home {
  font-family: UbuntuMono;
  height: 75vh;
  padding-top: 2rem;
  padding-left: 3rem;
  background: bottom right no-repeat url("../../assets/images/undraw_hello_re_3evm.svg");
  background-size: auto 80%;
  animation: appear 1s ease-out;
}

.home h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.intro {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.intro * {
  color: #999999;
}

.typewriter {
  color: black;
  width: 40%;
  font-size: 2rem;
  font-family: UbuntuMono, 'Courier New', Courier, monospace;
  animation: appear 1s ease-out backwards;
}

.cursor {
  color: rgb(185, 185, 185);
  font-size: 2rem;
  animation: cursor-fade 500ms ease-in-out alternate infinite;
}

.quote {
  width: 45%;
}
