$head-color: #2f2e41;

@keyframes signup-appear {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
}

@keyframes err-appear {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }
}

.sign-up {
  display: flex;
  gap: 2rem;

  // background: linear-gradient(90deg, #3F3D56, transparent);
  padding: 1rem 2rem;

  .illustration {
    width: 55%;
    display: flex;

    img {
      width: 100%;
    }
  }

  .content {
    animation: signup-appear 700ms ease-out;
    width: 45%;

    .errMessage {
      padding-top: 1rem;
      color: rgb(170, 26, 26);
      animation: err-appear 400ms ease-out;
    }

    h1 {
      font-size: 4rem;
      font-family: "system-ui", Ubuntu;
      margin-bottom: 2rem;
      color: $head-color;
    }

    form {
      display: flex;
      flex-direction: column;
      max-width: 450px;
      gap: 1rem;

      button {
        cursor: pointer;
      }

      .body {
        label {
          padding-left: 0.2rem;
        }

        input {
          width: 100%;
          box-sizing: border-box;
          padding: 0.7rem;
          border-radius: 7px;
          margin-top: 0.5rem;
        }

        > div {
          margin: 1rem 0;
        }

        .mail-pwd {
          display: flex;
          gap: 1rem;
        }
      }

      .terms {
        font-size: 1.2rem;

        input {
          width: 1.5rem;
          height: 1.5rem;
        }

        label {
          padding-left: 1rem;
          color: #3f3d56;
          a {
            color: black;
          }
        }
      }

      .with {
        font-weight: bold;
        color: $head-color;
        font-size: 1.2rem;
        text-align: center;

        span {
          margin: 0 2rem;
        }

        &:before,
        &:after {
          display: inline-block;
          content: "";
          width: 30px;
          height: 2px;
          background: $head-color;
        }
      }

      .other {
        align-self: stretch;
        display: flex;
        gap: 2rem;
        justify-content: center;

        button {
          padding: 1rem;
          width: 150px;
          background: transparent;
          border: 1px solid rgb(128, 128, 128);
          border-radius: 10px;
          box-shadow: 0 1px 5px rgba(122, 122, 122, 0.493);
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          transition: background 300ms ease-out;

          &:hover {
            background: rgba(0, 0, 0, 0.178);
          }

          &:active {
            outline: solid black 1px;
          }

          img {
            width: 1.5rem;
          }
        }

        .facebook img {
          fill: #4267b2;
        }
      }

      & > button {
        background: #f52157;
        padding: 1.7rem 2rem;
        border-radius: 35px;
        align-self: flex-start;
        margin-left: 1rem;
        box-shadow: 0 10px 5px rgba(116, 116, 116, 0.479);
        transition: background 300ms ease-out;

        &:hover {
          background: hsl(345, 91%, 40%);
        }

        * {
          color: rgba(255, 255, 255, 0.76);
          flex-shrink: 1;
          font-size: 2rem;
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .mail-pwd {
    flex-wrap: wrap;
  }
}

@media (max-width: 580px) {
  .sign-up {
    display: block;

    .illustration {
      display: none;
    }

    .content {
      width: 100%;
    }
  }
}
