@-webkit-keyframes rotate-logo {
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes rotate-logo {
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

.navbar {
  /* should always be ontop */
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0.5rem 0.8rem;
  border-bottom: 1px solid #dbdbdb;
  background: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0 1px 5px rgba(110, 110, 110, 0.295);
          box-shadow: 0 1px 5px rgba(110, 110, 110, 0.295);
}

.navbar-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.navbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo a {
  font-size: 2rem;
  color: black;
  font-weight: bold;
}

.navbar .logo a:hover {
  color: var(--secondary);
}

.navbar .logo img {
  display: block;
}

.navbar a {
  font-size: 1.1rem;
  text-decoration: none;
  padding: 0.5rem;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.navbar a:hover {
  color: var(--ternary);
}

.navbar .sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .sign .signup {
  color: white;
  margin-left: 0.5rem;
  background: #f1356d;
  border-radius: 8px;
}

.navbar .sign .signup:hover {
  color: white !important;
  background: #f57098;
}

.navbar .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.7rem;
}

.navbar .options > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.navbar .options > li div {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: var(--secondary);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.sidebar {
  position: fixed;
  width: 0;
  height: 100vh;
  overflow: hidden;
  display: none;
  background: #21313b;
  -webkit-transition: width 300ms ease-out;
  transition: width 300ms ease-out;
  z-index: 1;
}

.sidebar a {
  color: white;
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1.5rem 1.2rem;
}

.sidebar a:hover {
  background: #3f5e73;
}

.user-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.user-profile div {
  width: 32px;
  height: 32px;
  background: black;
  border: solid 3px grey;
  border-radius: 50px;
}

.user-profile svg {
  -webkit-transition: -webkit-transform 500ms ease-out;
  transition: -webkit-transform 500ms ease-out;
  transition: transform 500ms ease-out;
  transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
}

.user-profile-dropdown {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.61);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.61);
  position: fixed;
  right: 0;
  background: #503a3a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0 0 7px 7px;
  overflow: hidden;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
}

.user-profile-dropdown a {
  color: white;
  padding: 1rem;
  padding-right: 3rem;
  border-top: solid 1px rgba(255, 255, 255, 0.541);
  -webkit-transition: background 500ms ease-out;
  transition: background 500ms ease-out;
}

.user-profile-dropdown a:hover {
  background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 370px) {
  .logo > a {
    display: none;
  }
}

@media (max-width: 580px) {
  .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar .options {
    display: none;
  }
}
/*# sourceMappingURL=Navbar.css.map */